<form action="">
    <ul class="nav nav-tabs  mb-3 mt-3" id="simpletab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Datos personales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family" aria-selected="true">Datos familiares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ecclesiastical-tab" data-toggle="tab" href="#ecclesiastical" role="tab" aria-controls="ecclesiastical" aria-selected="true">Datos eclesiásticos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Datos de contacto</a>
        </li>
    </ul>
    <div class="tab-content" id="simpletabContent">
        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
            <div class="form-group">
                <label for="inputCode">Cédula</label>
                <input type="text" class="form-control" id="inputCode" placeholder="">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">Nombres</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Apellidos</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputBirthdate">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="inputBirthdate" placeholder="">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputCountry">País de nacimiento</label>
                    <select id="inputCountry" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputStateB">Provincia/Estado de nacimiento</label>
                    <select id="inputStateB" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">Ciudad de nacimiento</label>
                    <select id="inputCity" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputOccupation">Ocupación</label>
                <input type="text" class="form-control" id="inputOccupation" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputState">Estado Civil</label>
                <select id="inputState" class="form-control">
                    <option selected>Seleccionar...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputConversionDate">Fecha de conversión</label>
                <input type="date" class="form-control" id="inputConversionDate" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputBaptismDate">Fecha de bautismo</label>
                <input type="date" class="form-control" id="inputBaptismDate" placeholder="">
            </div>
            
            <div class="form-group">
                <div class="form-check pl-0">
                    <div class="custom-control custom-checkbox checkbox-info">
                        <input type="checkbox" class="custom-control-input" id="gridCheck">
                        <label class="custom-control-label" for="gridCheck">Check me out</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="family-tab">
            <div class="form-group">
                <label for="inputMarriageDate">Fecha de matrimonio</label>
                <input type="date" class="form-control" id="inputMarriageDate" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputSpouseName">Nombre del cónyuge</label>
                <input type="text" class="form-control" id="inputSpouseName" placeholder="">
            </div>
        </div>
        <div class="tab-pane fade" id="ecclesiastical" role="tabpanel" aria-labelledby="ecclesiastical-tab">
            <div class="form-group">
                <label for="inputQ1">¿Cómo supo acerca de nuestra iglesia?</label>
                <input type="text" class="form-control" id="inputQ1" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ2">¿Desde cuándo ha venido a nuestra iglesia?</label>
                <input type="text" class="form-control" id="inputQ2" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ3">¿Ha participado en estudios bíblicos o teológicos anteriormente?</label>
                <input type="text" class="form-control" id="inputQ3" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ4">¿En qué ministerio ha servido usted y por cuánto tiempo lo hizo?</label>
                <input type="text" class="form-control" id="inputQ4" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ5">¿Cual es su transfondo personal/experiencia?</label>
                <input type="text" class="form-control" id="inputQ5" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ6">¿Viene usted de alguna otra iglesia antes de esta?</label>
                <input type="text" class="form-control" id="inputQ6" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputQ7">¿En qué ministerio de la iglesia le gustaría servir?</label>
                <input type="text" class="form-control" id="inputQ7" placeholder="">
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="form-group">
                <label for="inputAddress">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputPhone">Teféfono</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputMobile">Celular</label>
                <input type="text" class="form-control" id="inputMobile" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="">
            </div>
        </div>
    </div>
</form>










    
<button type="submit" class="btn btn-primary mt-3">Sign in</button>