<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed mb-4">
        <thead>
            <tr>
                <th>nombres</th>
                <th>apellidos</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each members}}
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td class="text-center">
                    <ul class="table-controls">
                        
                    </ul>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">Sin datos</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>