<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>ECECV - Sistema de administración</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    
    {{> css }}

</head>
<body class="sidebar-noneoverflow starterkit">
    {{> navbar }}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        {{> sidebar }}
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="page-header">
                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Starter Kit</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Breadcrumb</span></li>
                        </ol>
                    </nav>
                </div>

                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <div class="widget-content-area br-4">
                            <div class="widget-one">

                                <h6>{{ title }}</h6>

                                {{{ body }}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{> footer }}
        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->

    {{> js }}
</body>
</html>