<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->

<style>
    /*
        The below code is for DEMO purpose --- Use it if you are using this demo otherwise Remove it
    */

    .navbar .navbar-item.navbar-dropdown {
        margin-left: auto;
    }

    /*
        ====================
            IE Support
        ====================
    */

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .header-container { width: 100%; }
    }

    /*
        Just for demo purpose ---- Remove it.
    */
    /*<starter kit design>*/

    .widget-one {

    }
    .widget-one h6 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0px;
        margin-bottom: 22px;
    }
    .widget-one p {
        font-size: 15px;
        margin-bottom: 0;
    }

</style>
<link href="/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css">

<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->